In [10]:
import pandas as pd
import os
os.getcwd()

'/workspaces/datatalks-docker-workshop/pipeline'

In [11]:
os.listdir()

['Dockerfile',
 'ingest_data.py',
 'docker-compose.yaml',
 'uv.lock',
 'output_10.parquet',
 '.python-version',
 'main.py',
 'pyproject.toml',
 'output_12.parquet',
 '.ipynb_checkpoints',
 'README.md',
 'pipeline.py',
 '.venv',
 'notebook.ipynb',
 'zone.ipynb',
 'refer.txt',
 'taxi_zone_lookup.csv']

In [14]:

# Read a sample of the data
df = pd.read_csv('taxi_zone_lookup.csv')

In [ ]:
df

In [15]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [21]:
dtype = {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string",
    }
df = pd.read_csv(
    'taxi_zone_lookup.csv',
    dtype=dtype,
    )

In [22]:
df.dtypes

LocationID               Int64
Borough         string[python]
Zone            string[python]
service_zone    string[python]
dtype: object

In [23]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [24]:
!uv add sqlalchemy

Resolved 120 packages in 10ms
Audited 12 packages in 201ms

In [26]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
!uv add psycopg2-binary

Resolved 120 packages in 0.62ms
Audited 12 packages in 0.20ms

In [27]:
print(pd.io.sql.get_schema(df, name='zone', con=engine))

CREATE TABLE zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [22]:
!uv add tqdm

Resolved 120 packages in 0.67ms
Audited 12 packages in 0.21ms

In [23]:
from tqdm.auto import tqdm

In [51]:
df.to_sql(name='zone', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [28]:
df.head(0).to_sql(name='zone', con=engine, if_exists='replace')

0

In [29]:
df.to_sql(name='zone', con=engine, if_exists='append')

265